@media (max-width: 1199px) {

	.nav-link {
    padding: 18px !important;
}

}

@media (max-width: 991px) {
	.banner .b-body .hero-text h2 {
    font-size: 20px;
}
.banner .b-body .hero-text h1 {
    font-size: 24px;
}
.banner .b-body .hero-text h3 {
    font-size: 18px;
}
.testimonial .left h2 {
    font-size: 24px;
}
.blog h1 {
    font-size: 25px;
}
.blog .blog-body .card {
    margin: 10px;
}


}

@media (max-width: 767px){
	.banner .b-body .hero-text h2 {
    font-size: 24px;
}
.banner .b-body .hero-text h1 {
    font-size: 28px;
}
.testimonial {
    text-align: center;
}
.testimonial .left {
    padding: 10px 0;
}
.testimonial .right p {
    text-align: center;
    font-weight: 500;
}





}

@media (max-width: 575px){
.navbar-brand {
    width: 70%;
}








.blog .blog-body .card .card-body {
    background: #e4e4e4;
    text-align: center;
    padding: 20px;
}
footer {
    text-align: center;
}
.copyright {
    text-align: center;
}
.copyright ul li a i {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.copyright ul {
    justify-content: center;
    padding: 0;
    padding-top: 10px;
    font-size: 12px;
}
.blog .blog-body {
    padding-top: 25px;
}
footer {
    text-align: center;
    padding-top: 0;
}


}









@media (max-width: 320px){
	.navbar-brand {
    width: 75%;
}
.blog .blog-body .card .card-body {
    background: #e4e4e4;
    text-align: center;
    padding: 20px;
}
footer {
    text-align: center;
}
.blog .blog-body {
    padding-top: 25px;
}
.copyright {
    text-align: center;
}
.copyright ul li a i {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.copyright ul {
    justify-content: center;
    padding: 0;
    padding-top: 10px;
    font-size: 12px;
}




}




